################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/msvc/boot/x64/Debug
/msvc/kernel/x64/Debug
/msvc/user/.vs/user/v16
/msvc/user/x64/Debug
/msvc/boot/.vs/boot/v16
/msvc/kernel/.vs/kernel/v16
